# Віртуальне середовище
venv/
.venv/

# Python кеш
__pycache__/
*.pyc
*.pyo
*.pyd

# Файл з API ключами
config_keys.py 
# або будь-яка інша назва твого файлу з ключами

# Файли IDE
.idea/
.vscode/

# Локальні файли запуску (якщо є)
*.bat
*.sh

# Інші специфічні для ОС файли
.DS_Store
Thumbs.db